<h1> Hi this is my html sample page </h1>
<h1> My name is: {{my_name}} </h1>
<h1> Group: {{group_no}} </h1>
<h1> Date: {{ansible_date_time.date}} </h1>
<h1> My domain is: {{pc_no}}.training.sdnog.sd </h1>
<h1> This HTML page is run under "{{ansible_os_family}}" with IP: {{inventory_hostname}} </h1>
